
<section id="home" class="g-bg-img-hero  g-pos-rel g-px-50 g-py-100">
    <div style="font-family: inherit;" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30 text-center mx-auto g-max-width-645 g-mb-70">
        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
        <h2 style="font-weight:bold" class="h3  g-color-black mb-4">Transaksi Permintaan Kamu Telah Berhasil</h2>
        <p>
            Sekarang kamu tinggal menunggu informasi lebih lanjut tentang status barang yang kamu pesan. Klik tombol dibawah ini untuk mengetahui informasi barang yang kamu pesan.

        </p>
        <br />
        <a target="_blank" class="btn u-btn-primary btn-md" href="@Url.Action("TrackingOrder", "Home")">Klik disini</a>
    </div>
</section>